Taking input in Python

In [2]:
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Hello, Siddharth Nidane ! Welcome!

Printing Variables

In [3]:
s = "Bob"
print(s)

s = "Alice"
age = 25
city = "New York"
print(s, age, city)

Bob
Alice 25 New York

Take Multiple Input in Python

In [5]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Number of boys:  10
Number of girls:  20

In [7]:
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Total number of students:  50
Number of boys is :  20
Number of girls is :  30

Find DataType of Input in Python

In [8]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>